* {
  padding: 0;
  margin: 0;
}
.bg_div {
  width: 500px;
  height: 500px;
  border: 2px solid red;
  background: #eee;
  position: relative;
}
.bg_div .md_div {
  width: 200px;
  height: 200px;
  background: #000;
  border: 1px solid blue;
  position: absolute;
  top: 5px;
  left: 10px;
}
.bg_div .md_div li {
  color: #fff;
}
